.about {
  @include mq(medium) {
    @include flex(flex, row wrap);
  }
  .card {
    li {
      display: inline-block;
      background: $color-bg-light;
      border-radius: em(3px);
      color: $color-bg-dark;
      padding: em(5px);
      font-size: em(18px);
      margin: em(6px);
      @include mq(medium) {
        font-size: em(20px);
      }
    }
    @include mq(medium) {
      width: 45%;
    }
  }
}

.card {
  background: $color-bg-dark;
  box-shadow: 0px 10px 20px -5px $color-boxshadow;
  padding: 1em;
  margin: 1em;
}
